@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css");
/* @import "~@flaticon/flaticon-uicons/css/solid/rounded"; */
@import "../node_modules/@flaticon/flaticon-uicons/css/all/all";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

/* PIN BURGER MENU */

#hamburger-menu {
  width: 60px;
  height: 45px;
  /* background: #0a41a6; */
  position: relative;
  /* margin: 50px auto; */
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#hamburger-menu span {
  display: block;
  position: absolute;
  height: 8px;
  width: 100%;
  /* background: #d3531a; */
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#hamburger-menu span:nth-child(1) {
  top: 0px;
}

#hamburger-menu span:nth-child(2),
#hamburger-menu span:nth-child(3) {
  top: 18px;
}

#hamburger-menu span:nth-child(4) {
  top: 36px;
}

#hamburger-menu.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#hamburger-menu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamburger-menu.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* PIN SLIDER STYLE */
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

/* PIN NAVBAR ANIMATION */
.visiblex {
  transition: transform 0.2s;
}
.hiddenx {
  transform: translateY(-80px);
}
.navbar-bg {
  backdrop-filter: blur(8px);
  background-color: #77212c9d;
  background-color: #7939419d;
  background-color: #7b50569d;
  background-color: #ffffffa4;
}

/* PIN SLIDING PARAGRAPH ANIMATION */
.text-intro {
  opacity: 0;
  transform: translateY(30px);
}
.text-intro.visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1.5s 0.3s, transform 1.5s 0.3s;
}

.design-1 figure {
  width: 275px;
  height: 275px;
  /* aspect-ratio: 8 / 5; */
  --bg: hsl(352 57% calc(90% - (var(--hover) * 10%)));
  --accent: hsl(352, 57%, 30%);
  transition: background 0.2s;
  background: radial-gradient(
      circle at top left,
      var(--accent),
      transparent 75%
    ),
    var(--bg);
  margin: 0;
  position: relative;
  overflow: hidden;
  border-radius: 1.5rem;
}
.design-1 figure:after {
  content: "";
  position: absolute;
  width: 20%;
  aspect-ratio: 1;
  border-radius: 50%;
  bottom: 0%;
  left: 10%;
  background: linear-gradient(-65deg, var(--bg) 50%, var(--accent) 50%);
  filter: blur(25px);
  transform: translateX(calc(var(--hover) * 15%))
    scale(calc(1 + (var(--hover) * 0.2)));
  transition: transform 0.2s, background 0.2s;
}
.design-1 img {
  width: 80%;
  position: absolute;
  left: 0%;
  bottom: 0%;
  transform: translateX(calc(var(--hover) * 10%))
    translateY(calc(var(--hover) * -10%)) scale(calc(1 + (var(--hover) * 0.2)));
  transition: transform 0.2s;
}
.design-1 p {
  position: absolute;
  z-index: 10;
  color: white;
  text-shadow: 2px 2px 15px rgb(49, 49, 49);
  font-weight: bolder;
  bottom: -20px;
  left: 20px;
  /* z-index: 0; */
  transform: translateY(calc(var(--hover) * -130%));
  transition: transform 0.2s;
}
.design-1 figure {
  --hover: 0;
}
.design-1 figure:hover {
  --hover: 1;
}

.design-2 {
  width: 12rem;
  height: 275px;
  border-radius: 10px;
  overflow: hidden;
  /* cursor: pointer; */
  font-size: 10px;
  position: relative;
  color: rgb(240, 240, 240);
  background-color: #000;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity 0.2s ease-out;
  }
  h2 {
    font-size: 16px;
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    transition: inset 0.3s 0.3s ease-out;
  }
  p,
  a {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity 0.3s ease-out;
  }
  p {
    inset: auto auto 80px 30px;
  }
  a {
    inset: auto auto 40px 30px;
    color: inherit;
    text-decoration: none;
  }
  &:hover h2 {
    inset: auto auto 220px 30px;
    transition: inset 0.3s ease-out;
  }
  &:hover p,
  &:hover a {
    opacity: 1;
    transition: opacity 0.5s 0.1s ease-in;
  }
  &:hover img {
    transition: opacity 0.3s ease-in;
    opacity: 0.5;
  }
}
.material-symbols-outlined {
  vertical-align: middle;
}

.mobile-sc.swiper {
  width: 100%;
  height: 320px;
  padding: 20px 60px;
}
.mobile-sc .swiper-slide {
  /* max-width: 200px; */
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  overflow: hidden;
}

/* .avatar {
  clip-path: circle(85px at 50% 34%);
  transition: all ease-in-out 0.2s;
}
.avatar.focused {
  clip-path: circle(75%);
} */

.avatar-img {
  border-radius: 10%;
  transition: border-radius ease-in-out 0.2s;
}
.avatar-img.focused {
  border-radius: 100%;
}

.avatar-card {
  .avatar-img {
    border-radius: 0.75rem;
    transition: border-radius ease-in-out 0.2s;
  }
}
.avatar-card:hover {
  .avatar-img {
    border-radius: 100%;
  }
}

.abc {
  border-radius: 10%;
  transition: border-radius ease-in-out 0.2s;
}
.abc:hover {
  border-radius: 100%;
}

.team {
  max-height: 450px;
  transition: max-height 0.5s;
}
.team.expanded {
  max-height: 2000px;
}
@media (max-width: 1024px) {
  .team {
    max-height: 900px;
    transition: max-height 3.5s 0.5s;
  }
  .team.expanded {
    max-height: 5000px;
  }
}
